p
{
    font-weight: bold;
    font-size: 30px;
    color: rgb(255, 149, 50);
    background-color: none;
}
.container
{
    position: center;
    background-color: none;
    margin-top: 50px;
}
.container1
{
    margin-left: 100px;
    min-height: 700px;
    margin-right: 100px;
}
.cart
{
    background-color: rgb(255, 149, 50);
    color: rgb(0, 0, 0);
}