
<html>
    <head>
        <title>Product Filter</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    </head>
    <body>
    <!--Header-->    
    <!--Header-->

    <!--filter-->
    <br>
    <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <label for="brand">Brand</label>
    <select id="brand">
    <option value="a0">Levis</option>
    <option value="b0">Zara</option>
    <option value="c0">Globus</option>
    <option value="d0">Pepe jeans</option>
    </select>
    <br/><br/><br/>
    <label for="price">Material</label>
    <select id="price">
    <option value="a1">Cotton</option>
    <option value="b1">Linen</option>
    <option value="c1">Rayon</option>
    <option value="d1">Mixed silk</option>
    </select>
    <br><br><br>
    <label for="size">Size</label>
    <select id="size">
    <option value="a2">XS</option>
    <option value="b2">S</option>
    <option value="c2">M</option>
    <option value="d2">L</option>
    <option value="a2">XL</option>
    </select>
    <br/>
    <br/><br/>
    <label for="price">Price</label>
    <select id="price">
    <option value="a3">Below 500</option>
    <option value="b3">500-1500</option>
    <option value="c3">1500-3000</option>
    <option value="d3">3000 Above</option>
    </select>
</div>
<!--filter-->
<!--grid-->
<table class="grid">
    <tr>
      <td><a href="womentopwear2.html"><img src="assets/images/women/topwear/image1.1.png"id="p1"></a></td>
      <td><a href="womentopwear1.html"><img src="assets/images/women/topwear/image2.1.png"id="p1"></a></td>
    </tr>
    <tr>
      <td><a href="womentopwear3.html"><img src="assets/images/women/topwear/image3.1.png"id="p1"></a></td>
      <td><a href="womentopwear4.html"><img src="assets/images/women/topwear/image4.1.png"id="p1"></a></td>
    </tr><br><br>
    <tr>
      <td><a href="womentopwear5.html"><img src="assets/images/women/topwear/image5.1.png"id="p1"></a></td>
      <td><a href="womentopwear6.html"><img src="assets/images/women/topwear/image6.1.png"id="p1"></a></td> 
    </tr>
   
  </table> 
<!--grid-->
<div class="wrapper">   
</div>
<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
  </script>
 <!--footer-->
<!--footer-->
    </body>
   
</html>